* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: rgb(255,255,255);
    --yellow: rgb(255,182,43);
    --blue: rgb(0,158,227);
    --darkblue: rgb(20,30,65);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--darkblue);
    scroll-behavior: smooth;
}

/* header */

