@media (max-width: 1280px) {

    .trading__container {
        width: 33%;
        margin: 15px 0px;
    }

}


@media (max-width: 1080px) {

    .header__logo {
        width: 18vw;
    }

    .menu__link {
        font-size: 11px;
        padding: 18px 10px;
    }

    .trading__sail,
    .trading__gsail,
    .trading__liquidity,
    .trading__track {
        width: 75%;
    }

    .trading__container {
        width: 33%;
        margin: 15px 0px;
    }

    .trading__link {
        font-size: 13px;
    }

    .tokenomic__sail_gsail {
        width: 75%;
    }

    .ecosystem__sail_gsail {
        width: 75%;
    }

    .roadmap__solanasail {
        width: 75%;
    }

    .faq__solanasail {
        width: 75%;
    }

    .contact__solanasail {
        width: 75%;
    }

    .footer__twitter,
    .footer__discord,
    .footer__telegram,
    .footer__medium,
    .footer__reddit {
        margin: 0 20px;
    }

}


@media (max-width: 930px) {

    .navigation {
        display: none;
    }

    /* hamburger menu start */

    #menu {
        z-index: 2;
    }

    #menu-bar {
        width: 45px;
        height: 40px;
        margin: 30px 0 0 20px;
    }

    .bar {
        height: 5px;
        width: 100%;
        background-color: var(--blue);
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    #bar1 {
        transform: translateY(-4px);
    }

    #bar3 {
        transform: translateY(4px);
    }

    .nav__hamburger {
        transition: 0.3s ease;
        display: none;
    }

    .nav__hamburger ul {
        padding: 0 10px;
    }

    .nav__hamburger li {
        list-style: none;
        padding: 4px 0;
    }

    .nav__hamburger li a {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 2px;
        text-align: left;
        color: var(--white);
        text-decoration: none;
    }

    .menu-bg,
    #menu {
        top: 0;
        left: 0;
        position: absolute;
    }

    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background-color: var(--blue);
        border-radius: 50%;
        transition: 0.3s ease;
    }

    .change {
        display: block;
    }

    .change .bar {
        background-color: var(--white);
    }

    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .change-bg {
        width: 400px;
        height: 600px;
        transform: translate(-60%, -20%);
    }

    /* hamburger menu end */

    .trading__sail,
    .trading__gsail,
    .trading__liquidity,
    .trading__track {
        width: 80%;
    }

    .tokenomic__sail_gsail {
        width: 80%;
    }

    .ecosystem__sail_gsail {
        width: 80%;
    }

    .roadmap__solanasail {
        width: 80%;
    }

    .faq__solanasail {
        width: 80%;
    }

    .contact__solanasail {
        width: 80%;
    }

    .contact__yacht {
        top: 50%;
        transform: translate(0, 10%);
    }

    .contact__img {
        width: auto;
        height: 400px;
    }

}


@media (max-width: 680px) {

    .contact__yacht {
        top: 50%;
        transform: translate(0, 20%);
    }

    .contact__img {
        width: auto;
        height: 350px;
    }

}

@media (orientation: landscape) and (max-width: 640px) {

    .navigation {
        display: none;
    }

    /* hamburger menu start */

    #menu {
        z-index: 2;
    }

    #menu-bar {
        width: 35px;
        height: 40px;
        margin: 30px 0 0 20px;
    }

    .bar {
        height: 5px;
        width: 100%;
        background-color: var(--blue);
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    #bar1 {
        transform: translateY(-4px);
    }

    #bar3 {
        transform: translateY(4px);
    }

    .nav__hamburger {
        transition: 0.3s ease;
        display: none;
    }

    .nav__hamburger ul {
        padding: 0 10px;
    }

    .nav__hamburger li {
        list-style: none;
        padding: 4px 0;
    }

    .nav__hamburger li a {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 2px;
        text-align: left;
        color: var(--white);
        text-decoration: none;
    }

    .menu-bg,
    #menu {
        top: 0;
        left: 0;
        position: absolute;
    }

    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background-color: var(--blue);
        border-radius: 50%;
        transition: 0.3s ease;
    }

    .change {
        display: block;
    }

    .change .bar {
        background-color: var(--white);
    }

    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .change-bg {
        width: 400px;
        height: 600px;
        transform: translate(-60%, -20%);
    }

    /* hamburger menu end */

    .trading__sail,
    .trading__gsail,
    .trading__liquidity,
    .trading__track {
        width: 90%;
    }

    .tokenomic__sail_gsail {
        width: 90%;
    }

    .ecosystem__sail_gsail {
        width: 90%;
    }

    .roadmap__solanasail {
        width: 90%;
    }

    .faq__solanasail {
        width: 90%;
    }

    .contact__solanasail {
        width: 90%;
    }

    .contact__yacht {
        top: 50%;
        transform: translate(0, 30%);
    }

    .contact__img {
        width: auto;
        height: 300px;
    }
}


@media (max-width: 430px) {

    .header__main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .header__background {
        display: none;
    }

    .header__bg__mobile {
        display: block;

    }

    .header__bg__mobile--img {
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }

    .header__logo {
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;
        width: 50%;
    }


    .navigation {
        display: none;
    }

    /* hamburger menu start */

    #menu {
        z-index: 2;
    }

    #menu-bar {
        width: 45px;
        height: 40px;
        margin: 30px 0 20px 20px;
    }

    .bar {
        height: 5px;
        width: 100%;
        background-color: var(--blue);
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    #bar1 {
        transform: translateY(-4px);
    }

    #bar3 {
        transform: translateY(4px);
    }

    .nav__hamburger {
        transition: 0.3s ease;
        display: none;
    }

    .nav__hamburger ul {
        padding: 0 10px;
    }

    .nav__hamburger li {
        list-style: none;
        padding: 10px 0;
    }

    .nav__hamburger li a {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 2px;
        text-align: left;
        color: var(--white);
        text-decoration: none;
    }

    .menu-bg,
    #menu {
        top: 0;
        left: 0;
        position: absolute;
    }

    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background-color: var(--blue);
        border-radius: 50%;
        transition: 0.3s ease;
    }

    .change {
        display: block;
    }

    .change .bar {
        background-color: var(--white);
    }

    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

    .change-bg {
        width: 600px;
        height: 600px;
        transform: translate(-60%, -20%);
    }

    /* hamburger menu end */


    .nav__top {
        bottom: 80px;
        right: 10px;
        width: 50px;
        height: 50px;
    }


    .trading {
        background-image: none;
    }

    .trade__img__mobile {
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .trading__sail,
    .trading__gsail,
    .trading__liquidity,
    .trading__track {
        width: 90%;
    }

    .trading__sail__title,
    .trading__gsail__title,
    .trading__liquidity__title,
    .trading__track__title {
        font-weight: 300;
        font-size: 32px;
        margin: 30px 0 10px 0;
    }

    .trading__sail__list,
    .trading__gsail__list,
    .trading__liquidity__list {
        width: 100%;
    }

    .trading__container {
        width: 44%;
        margin: 20px 20px 20px 0;
    }

    .trading__link {
        font-size: 16px;
    }


    .tokenomic__sail_gsail {
        width: 90%;
    }

    .tokenomic__title {
        font-weight: 300;
        font-size: 32px;
    }

    .tokenomic__img {
        display: none;
    }

    .tokenomic__img__mobile {
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }


    .ecosystem__sail_gsail {
        width: 90%;
    }

    .ecosystem__title {
        font-weight: 300;
        font-size: 32px;
    }

    .ecosystem__img {
        display: none;
    }

    .ecosystem__img__mobile {
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }


    .roadmap__solanasail {
        width: 90%;
    }

    .roadmap__title {
        font-weight: 300;
        font-size: 32px;
    }

    .roadmap__img {
        display: none;
    }

    .roadmap__img__mobile {
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }


    .faq::before {
        height: 10px;
    }

    .faq {
        background-image: none;
        height: auto;
    }

    .faq__solanasail {
        width: 90%;
    }

    .faq__title {
        font-weight: 300;
        font-size: 32px;
    }


    .contact {
        background-image: none;
    }

    .contact__solanasail {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
    }

    .contact__data {
        width: 100%;
    }

    .contact__yacht {
        display: none;
    }

    .contact__img__mobile {
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        margin: 50px auto 0;
    }

    .contact__title {
        font-weight: 300;
        font-size: 32px;
        margin: 20px 0 10px 0;
    }

    .contact__subtitle {
        font-weight: 300;
    }


    .footer__social {
        justify-content: space-evenly;
    }

    .footer__twitter,
    .footer__discord,
    .footer__telegram,
    .footer__medium,
    .footer__reddit {
        margin: 0;
    }

}

@media (max-width: 375px) {

    .header__bg__mobile--img {
        margin: -50px auto 0;
    }


    .trading__sail__title,
    .trading__gsail__title,
    .trading__liquidity__title,
    .trading__track__title {
        font-size: 30px;
    }

    .trading__sail__text,
    .trading__gsail__text,
    .trading__liquidity__text,
    .trading__track__text {
        font-size: 12px;
    }

    .trading__container {
        width: 43%;
    }

    .trading__link {
        font-size: 14px;
    }


    .tokenomic__title {
        font-size: 30px;
    }

    .tokenomic__text {
        font-size: 13px;
    }


    .ecosystem__title {
        font-size: 30px;
    }

    .ecosystem__text {
        font-size: 13px;
    }


    .roadmap__title {
        font-size: 30px;
    }

    .roadmap__text {
        font-size: 13px;
    }


    .faq__title {
        font-size: 30px;
    }

    .faq__question {
        font-size: 15px;
    }

    .faq__answer {
        font-size: 13px;
    }


    .contact__title {
        font-size: 30px;
    }

    .contact__subtitle {
        font-weight: 300;
        font-size: 20px;
    }

    .contact__mail {
        font-size: 15px;
    }


    .footer__twitter,
    .footer__discord,
    .footer__telegram,
    .footer__medium,
    .footer__reddit {
        width: 35px;
        height: 35px;
    }

}


@media (max-width: 320px) {


    /* hamburger menu start */

    #menu-bar {
        width: 35px;
    }

    .bar {
        height: 4px;
    }

    #bar1 {
        transform: translateY(-5px);
    }

    #bar3 {
        transform: translateY(5px);
    }

    .nav__hamburger li {
        list-style: none;
        padding: 8px 0;
    }

    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background-color: var(--blue);
        border-radius: 50%;
        transition: 0.3s ease;
    }

    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: translateY(-4px) rotateZ(45deg);
    }

    .change-bg {
        width: 600px;
        height: 600px;
        transform: translate(-65%, -20%);
    }

    .trading__link {
        font-size: 12px;
    }

    /* hamburger menu end */

}